<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Challenges</h1>
{% for i in challenges %}
<h2>{{i['label']}}</h2>
<p>Install files <a href="/downloads?id={{i['id']}}">here</a></p>
<p>Hints:</p>
<ul>
    {% for hint in i['hints'] %}
    <li>{{hint}}</li>
    {%endfor%}
</ul>
<form action="/" method="post">
    <input type="text" placeholder="pyCTF{flag}" name="flag" required>
    <input type="hidden" name="id" value="{{i['id']}}">
    <br>
    <input type="submit" value="Submit">
</form>
<br>
{%endfor%}
</body>
</html>